body{
  margin: 0;
  font-size: 16px;
  background-color: #dadada;
  background-color: #e3e3e3;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

/*=========================================
              header part
===========================================*/
header{
  background-color: #e3e3e3;

}
.header-column{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.nav-ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav-link{
  text-decoration: none;
  font-size: 1rem;
  color: #3c3c3c;
  padding-left: 3em;
  font-weight: 500;
}

.header-col-1{
  width :30%;
}

.header-col-2{
  width: 60%;
}

/*=========================================
              footer part
===========================================*/

footer{
  background-color: #e3e3e3;
  color: #3c3c3c;
  padding: 2em 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.owner-information{
  color: #C60021;
}

/*=========================================
              main part
===========================================*/

.main-column{
  display: flex;
  background-color: #cacaca;
}

/* =========== side navigation panel ============ */

.sub-navigation{
  width: 20%;
  background-color: #7c7c7c;
  background-color: #dadada;
}

.sub-navigation{
  min-height: 430px;
}

.sub-navigation-ul{
  list-style: none;
}

.sub-navigation-li{
  margin: 1.5em auto;
}

.sub-nav-link{
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
}

.current-link{
  color: #C60021;
}

/* ============ main display area ============== */

.main-data{
  width: 80%;
}

.table-display {
  font-family: Helvetica;
   border: 0.1rem solid #398B93;
   border-radius: 1em;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   margin: 1em auto;
   display: table;
   overflow: hidden;
   width: 95%;
}

.table-header{
   background-color:#398B93;
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}

/* table designs */
table{
    table-layout: auto;
    width: 100%;
    border-collapse:collapse;
    text-transform: capitalize;
}

th,td{
  border:none;
  text-align: left;
  padding: 0.5em;
  }


.row{
  background: #f6f6f6;
}

.table-display tr:nth-of-type(odd){background: #e9e9e9;}

/* form table designs*/

.table-form-display{
   font-family: Helvetica;
   background-color: #F5F5F5;
   border: 0.1rem solid #398B93;
   border-radius: 1em;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   margin: 1em auto;
   display: table;
   overflow: hidden;
   max-width: 500px;
   width: 90%;
}

.table-form-header,
.table-form-footer {
   background-color:#398B93;
   background-color: #FA8072;
   background-color: #5F9EA0;
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}

.table-form-footer{
  background-color: #F5F5F5;
}

.table-form-display td,
.table-form-display th{
  border:none;
  text-align: left;
  padding: 1rem;
  }


.table-form-footer{
  padding: 0.2em;
}

.form-table{
  max-width: 620px;
}

.main-sub{
  text-align: center;
  padding:1em;
}

.warning-para{
  color: red;
  font-weight: 500;
  padding: 1rem;
}

/*====== button design ===*/

.btn{
  padding: 0.5rem;
  border-radius: 0.25em;
  border: 0;
  min-width: 5rem;
  font-weight: 500;
}

.btn-safe{
  background-color: #28a745;
  color: #fff;
}

.btn-danger{
  background-color: #DC143C;
  color: #fff;
}

.btn-option{
  background-color: #17a2b8;
  color: #fff;
}

/*====== row widths ==========*/
.row-15{width: 15%;}
.row-20{width: 20%;}
.row-25{width: 25%;}
.row-30{width: 30%;}
.row-35{width: 35%;}
.row-40{width: 40%;}
.row-50{width: 50%;}

/*====== message notification box ======*/

/* The alert message box */
.alert {
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  border-radius: 1em;
  width:60%;
  margin: 1em auto;
}

.success{
  background-color: #28a745; /* green */
}

.error{
  background-color: #dc143c; /* red */
}

/* The close button */
.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
