<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Customers
{% endblock %}

{% block nav-Customers %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/customer/">All Customer</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/customer/create/">Add New Customer</a></li>
    </ul>
  </div>
  <div class="col main-data"> <!-- style=" height:450px; overflow:auto;"-->
    <div class="table-display" cellspacing="0" >
      <div class="table-header">Customer List</div>
      <table>
        <thead >
          <tr class="row">
            <th class="row-20" >Name</th>
            <th class="row-20">Phone Number</th>
            <th class="row-20">Address</th>
            <th class="row-40">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customer_list %}
          <tr class="row">
            <td>{{customer.customer_name}}</td>
            <td>{{customer.customer_phone_number}}</td>
            <td>{{customer.customer_address_city}}</td>
            <td>
              <a href="linkedAccounts/{{customer.customer_id}}">
                <button type="button" class="btn">View Info</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="update/{{customer.customer_id}}">
                <button type="button" class="btn">Edit</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="delete/{{customer.customer_id}}">
                <button type="button" class="btn">Delete</button></a>
              </td>
            </tr>
          {% empty %}
          <p>no customer yet.</p>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
