<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Update Customer's Data
{% endblock %}

{% block nav-Customers %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/customer/">All Customer</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/customer/create/">Add New Customer</a></li>
    </ul>
  </div>
  <div class="col main-data" >
    <form class="" method="post" >
      <div class="table-form-display" cellspacing="0" >
        <div class="table-form-header">Add A New Customer</div>
          <table>
            {{form.as_table}}
            {%csrf_token%}
          </table>
        <div class="table-form-footer"><button class="btn btn-safe"  type="submit">Update Customer's Data</button></div>
      </div>
    </form>
    <div class="main-sub">
      <button onclick="window.location=document.referrer" class="btn btn-option">Go Back</button>
    </div>
  </div>
</div>
{% endblock %}
