<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Customers
{% endblock %}

{% block nav-Customers %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/customer/">All Customer</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/customer/create/">Add New Customer</a></li>
    </ul>
  </div>
  <div class="col main-data"> <!-- style=" height:450px; overflow:auto;"-->
    <div id="alerts">
    </div>
    <div class="table-display" cellspacing="0" >
      <div class="table-header">Customer List</div>
      <table>
        <thead >
          <tr class="row">
            <th class="row-25" >Name</th>
            <th class="row-20">Phone Number</th>
            <th class="row-20">Address</th>
            <th class="row-35">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customer_list %}
          <tr class="row">
            <td>{{customer.customer_name}}</td>
            <td>{{customer.customer_phone_number}}</td>
            <td>{{customer.customer_address_city}}</td>
            <td>
              <a href="linkedAccounts/{{customer.customer_id}}">
                <button type="button" class="btn btn-safe">View Info</button></a>&nbsp;&nbsp;
              <a href="update/{{customer.customer_id}}">
                <button type="button" class="btn btn-option">Edit</button></a>&nbsp;&nbsp;
              <a href="delete/{{customer.customer_id}}">
                <button type="button" class="btn btn-danger">Delete</button></a>
              </td>
            </tr>
          {% empty %}
          <p>no customer yet.</p>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

window.onload = loadMessages;

function loadMessages() {
  console.log("loadmessages fired");
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var json_data = JSON.parse(this.responseText);
        createMessageElement(json_data);
     }
  };
  xhttp.open("GET", "/general/messages/", true);
  xhttp.send();
}

function createMessageElement(list_data){
  for (x of list_data) {
  console.log(x["tag"]);
  console.log(x["msg"]);
  var div = document.createElement('div');
  var class_name = x["tag"];
  class_name += " alert"
  div.setAttribute('class',class_name);
  div.textContent = x["msg"];
  var span = document.createElement('span');
  span.setAttribute('class','closebtn');
  span.setAttribute('onclick',"this.parentElement.style.display='none';");
  span.textContent = 'X' ;
  div.appendChild(span);
  document.getElementById("alerts").appendChild(div)
  }
}

</script>
{% endblock %}
