<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Remove Customer
{% endblock %}

{% block nav-Customers %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/customer/">All Customer</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/customer/create/">Add New Customer</a></li>
    </ul>
  </div>
  <div class="col main-data" >
    <div class="table-form-display" cellspacing="0" >
      <div class="table-form-header">Delete Data of Customer {{customer.customer_name|upper}}</div>
      <p class="warning-para">Are you sure, you want to delete all data related to {{customer.customer_name|upper}}. <br>Deleted data cannot be retrived back </p>
      <div class="table-form-footer">
        <form class="" method="post" >
          {%csrf_token%}
          <button class="btn btn-danger"  type="submit">Delete {{customer.customer_name|upper}}'s Data</button>
        </form>
        <div style="padding:0.25em;"></div>
      <button onclick="window.location=document.referrer" class="btn btn-option">Go Back</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
