<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Remove Customer
{% endblock %}

{% block nav-Customers %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-link">
      <li><a class="sub-nav-link " href="/customer/">All Customer</a></li>
      <li><a class="sub-nav-link current-link" href="/customer/create/">Add New Customer</a></li>
    </ul>
  </div>
  <div class="col main-data">
    <form class="" method="post">
      {%csrf_token%}
      <h2>Are you Sure you want to delete {{object.customer_name}}'s data?'</h2>
      <button type="submit" name="button">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
