<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block nav-Transactions %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/transaction/">Account Repaymnet Statement</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/transaction/transact">Add New Transactions</a></li>
    </ul>
  </div>
  <div class="col main-data">
    <div id="alerts"></div>
      <div class="table-display" cellspacing="0">
        <div class="table-header">Accounts Statement</div>
        <table>
          <thead>
            <th class="row-15">Transaction Date</th>
            <th class="row-30">Transaction Note</th>
            <th class="row-15">Cr/Dr</th>
            <th class="row-20">Amount</th>
            <th class="row-20">Balance</th>
          </thead>
          <tbody>
          {% for transaction in transaction_list %}
            <tr>
              <td>{{transaction.transaction_date}}</td>
              <th>{{transaction.transaction_note}}</th>
              <td>{{transaction.transaction_type}}</td>
              <td>{{transaction.transaction_amount}}</td>
              <th>{{transaction.outstanding_amount_record}}</th>
            </tr>
          {% empty %}
              <p>no customer yet.</p>
          {% endfor %}
          </tbody>
        </table>
        <div class="main-sub">
          <button onclick="window.history.back()" class="btn btn-option">Go Back</button>
        </div>
      </div>
  </div>
</div>
{% endblock %}
