<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block nav-Transactions %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/transaction/">Account Repaymnet Statement</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/transaction/transact">Add New Transactions</a></li>
    </ul>
  </div>
  <div class="col main-data">
      <table class="customers-data">
        <thead>
          <th style="width:30%">Transaction Date</th>
          <th style="width:20%">Cr/Dr</th>
          <th style="width:20%">Amount</th>
        </thead>
        <tbody>
        {% for transaction in transaction_list %}
          <tr>
            <td>{{transaction.transaction_date}}</td>
            <td>{{transaction.transaction_type}}</td>
            <td>{{transaction.transaction_amount}}</td>
          </tr>
        {% empty %}
            <p>no customer yet.</p>
        {% endfor %}
        </tbody>
      </table>
        <button onclick="history.back()" class="btn">Go Back</button>
  </div>
</div>
{% endblock %}
