<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block nav-Transactions %}
current-link
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function validateForm() {
  var x = document.forms["form"]["date"].value;
  if (x == "") {
    alert("Please Select The Transaction Date");
    return false;
  }
}
</script>
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/transaction/">Account Repaymnet Statement</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/transaction/transact">Add New Transactions</a></li>
    </ul>
  </div>
  <div class="col main-data">
    <div id="alerts"></div>
    <div class="table-display" cellspacing="0">
      <div class="table-header">Accounts List</div>
      <form name="form" class="" action="/transaction/transact/submit/" method="post" onsubmit="return validateForm()">
      {%csrf_token%}
      <p style=" text-align: center; color:#556B2F; font-weight: 600; font-size: 1.1em;">please select the Transaction's date <input type="date" name="date"> </p>
      <table>
        <thead>
          <th style="width:30%">Customer Name</th>
          <th style="width:20%">Loan Amount</th>
          <th style="width:20%">Outstanding Amount</th>
          <th style="width:20%">Transaction</th>
        </thead>
        <tbody>
        {% for account in account_list %}
          <tr>
            <td>{{account.customer}}</td>
            <td>{{account.loan_amount}}</td>
            <td>{{account.outstanding_amount}}</td>
            <td><input type="number" name="{{account.loan_account_number}}" value="0" ></td>
          </tr>
        {% empty %}
            <p>no customer yet.</p>
        {% endfor %}
        </tbody>
      </table>
      <div class="main-sub">
        <button type="submit" class="btn btn-safe" >Update Transactions</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
