<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Transactions
{% endblock %}

{% block nav-Transactions %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/transaction/">Account Repaymnet Statement</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/transaction/transact">Add New Transactions</a></li>
    </ul>
  </div>

  <div class="col main-data">
    <div id="alerts"></div>
    <div class="table-display" cellspacing="0">
    <div class="table-header">Accounts List</div>
      <table>
        <thead>
          <tr class="row">
            <th class="row-10">Customer Name</th>
            <th class="row-10">Loan Amount</th>
            <th class="row-10">Outstanding Amount</th>
            <th class="row-10">Open Date</th>
            <th class="row-10">Current Status</th>
            <th class="row-10">Close Date</th>
            <th class="row-10">View Statement</th>
          </tr>
        </thead>
        <tbody>
        {% for account in account_list %}
          <tr>
            <td>{{account.customer}}</td>
            <td>{{account.loan_amount}}</td>
            <td>{{account.outstanding_amount}}</td>
            <td>{{account.open_date}}</td>
            <td>{{account.current_Status}}</td>
            <td>{{account.close_date}}</td>
            <td> <a href="accno/{{account.loan_account_number}}"> <button type="button" class="btn btn-option">Statement</button> </a> </td>
          </tr>
        {% empty %}
            <p>no customer yet.</p>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
