<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Accounts
{% endblock %}

{% block nav-Accounts %}
current-link
{% endblock %}

{% block main %}
<div class="main-column">
  <div class="col sub-navigation">
    <ul class="sub-navigation-ul">
      <li class="sub-navigation-li"><a class="sub-nav-link current-link" href="/account/">All Accounts</a></li>
      <li class="sub-navigation-li"><a class="sub-nav-link " href="/account/create/">Add New Account</a></li>
    </ul>
  </div>
  <div class="col main-data">
      <div class="table-form-display" cellspacing="0" >
        <div class="table-form-header">Loan Details</div>
          <table>
            <p class="DetailPara"><span class="DetailParaHeadings">loan Account number:</span> {{object.loan_account_number}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Customer:</span> {{object.customer|upper}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Loan Amount:</span> {{object.loan_amount}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Amount Received By Customer:</span> {{object.amount_credited_to_customer}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Present Outstanding Amount:</span> {{object.outstanding_amount}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Loan Opening Date:</span> {{object.open_date}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Loan Closing Date:</span> {{object.close_date}}</p>
            <p class="DetailPara"><span class="DetailParaHeadings">Current Status Of The Loan:</span> {% if object.current_Status == 'I' %}Inactive{% elif object.current_Status == 'A'%}Active{% endif %}</p>
          </table>
          <div class="table-form-footer">
            <a href="/transaction/accno/{{object.loan_account_number}}">
              <button class="btn btn-safe" type="submit">View Statement</button>
            </a>
          </div>
      </div>
    <div class="main-sub">
      <button onclick="window.history.back()" class="btn btn-option">Go Back</button>
    </div>
  </div>
</div>
{% endblock %}
